$gray: #4c4b4a;
$darkgray: #3f3e3e;
$code-background: #faf2e4;

// Show Page
.workspace {
  padding: 1rem;
  border: 1px solid silver;
  background: white;
  border-radius: 4px;
  margin-bottom: 3rem;
}

.code-container {
  border: 1px solid lightgray;
  border-radius: 4px;
  padding: 0.75rem;
  position: relative;
  margin-bottom: 0.75rem;

  &::before {
    content: "";
    position: absolute;
    top: -30px;
    left: 25%;
    margin-left: -15px;
    border: 15px solid transparent;
    border-bottom: 15px solid lightgray;
  }

  &::after {
    content: "";
    position: absolute;
    top: -28.5px;
    left: 25%;
    margin-left: -15px;
    border: 15px solid transparent;
    border-bottom: 15px solid white;
  }
}

code {
  background: $code-background;
  font-size: 14px;
  display: block;
  padding: 1.5rem 0.5rem 0.5rem 0.8rem;
  white-space: pre-wrap;
  word-wrap: break-word;
  text-align: left;
  line-height: 1.5;
  -moz-tab-size: 2;
  tab-size: 2;
  -ms-hyphens: none;
  -webkit-hyphens: none;
  hyphens: none;
  margin: 0;
  position: relative;
  color: $darkgray;
  border-radius: 4px;

  &::before {
    content: attr(data-subtitle);
    font-size: 0.7rem;
    position: absolute;
    left: 0.8rem;
    top: 0.3rem;
    color: $gray;
  }

  &.result {
    min-height: 107px;
  }

  &.success::after {
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
    font-weight: 900;
    font-size: 0.6rem;
    position: absolute;
    top: 0.3rem;
    left: 3.8rem;
    color: forestgreen;
  }

  &.failed::after {
    font-family: "Font Awesome 5 Free";
    content: "\f00d";
    font-weight: 900;
    font-size: 0.6rem;
    position: absolute;
    top: 0.3rem;
    left: 3.8rem;
    color: orangered;
  }
}

.result-table {
  th {
    font-weight: normal;
    font-size: 0.875rem;
  }

  thead th {
    border-bottom: none;
    text-align: center !important;
  }

  tbody {
    th {
      min-width: 175px;
    }

    td {
      min-width: 100px;
    }
  }
}

// New Page
.nested-fields {
  .check {
    background : white;
    padding: 1rem;
    position: relative;
    border: 1px solid lightgray;
    border-radius: 4px;
  }

  .delete {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
}

.new.check {
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: darkgray;
  border: 1px dashed;
  width: 100%;
  height: 310px;
  &:hover {
    color: dimgray;
    border: 1px dashed;
  }
}
